@import "reset"

body
  font-size 1.3rem
  font-family sans-serif
  padding 1.5rem

.app-container
  display flex
  justify-content center
  align-items center
  height 100vh

  .fruit-machine
    width 50%
    padding: 1rem
    text-align center

    .wheels
      display flex
      margin-bottom 4rem
      justify-content center

      .slot
        width 7rem
        min-width 6rem
        height 6rem
        border-radius 2rem
        border 5px solid black
        margin 1.5rem

      .red
        background-color: red

      .yellow
        background-color: yellow

      .blue
        background-color: blue

      .green
        background-color: green

  .win
    color black
    font-size 2rem
    margin-bottom 1rem
    height 1rem

  .spin-btn
    margin-bottom 2.5rem
    background-color white
    border-radius 1.5rem
    padding 1rem
    width 8rem
    font-size 1.5rem
    outline none
